<div class="form-container">
  <%= form_for [@student, @assignment], html: { multipart: true } do |f| %>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="control-group">
      <%= f.label :grade %>
      <%= f.text_field :grade %>
    </div>
    <div class="control-group">
      <%= f.label :comments %>
      <%= f.text_field :comments %>
    </div>
    <div class="control-group">
      <%= f.label :assignment, "New Image"  %>
      <%= f.file_field :assignment %>
    </div>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
</div>