<div class="form-container">
  <%= form_for @student, html: { multipart: true } do |f| %>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="control-group">
      <%= f.label :age %>
      <%= f.text_field :age %>
    </div>
    <div class="control-group">
      <%= f.label :grade %>
      <%= f.text_field :grade %>
    </div>
    <div class="control-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
</div>