<div class="row">
  <div class="col-xs-8 col-md-4 col-md-offset-4 text-center custom-well">
    <div class='form-container'></div>
      <%= bootstrap_form_for @user do |f| %>
        <%= render 'shared/errors', obj: @user %>
          <%= f.text_field :username %>
          <%= f.password_field :password %>
          <%= f.password_field :password_confirmation %>
          <%= f.email_field :email %>
        <%= f.submit @user.new_record? ? "Register" : "Update Profile", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
