<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    <h1><%= @homeschool.name %></h1>
    <%= link_to 'Edit', edit_homeschool_path(@homeschool), class: "btn btn-default" %>
  </div>
</div>
<div class="row">
  <%= link_to students_path do %>
    <div class="col-md-2 well dashboard-card">
      <i class="fa fa-users fa-5x"></i>
      <h2>Students</h2>
    </div>
  <% end %>
  <!--TODO: Change this one to documents-->
  <%= link_to students_path do %>
    <div class="col-md-2 col-md-offset-1 well dashboard-card">
      <i class="fa fa-folder-open fa-5x"></i>
      <h2>Documents</h2>
    </div>
  <% end %>
  <%= link_to students_path do %>
    <div class="col-md-2 col-md-offset-1 well dashboard-card">
      <i class="fa fa-calendar fa-5x"></i>
      <h2>My Calendar</h2>
    </div>
  <% end %>
  <%= link_to students_path do %>
    <div class="col-md-2 col-md-offset-1 well dashboard-card">
      <i class="fa fa-comments fa-5x"></i>
      <h2>My Community</h2>
    </div>
  <% end %>
</div>

