<div class="row">
  <div class="col-md-12">
    <div class="custom-well text-center" id="homeschool-name">
      <%= link_to 'Edit', edit_homeschool_path(@homeschool), class: "btn-dark-gray pull-right" %>
      <h1 id="homeschool-title"><%= @homeschool.name %></h1>
    </div>
  </div>
</div>
<div class="row" id="homeschool-links">
  <div class="col-md-3">
    <%= link_to students_path do %>
      <div class="custom-well">
        <div class="dashboard-card">
          <i class="fa fa-users fa-5x"></i>
          <h2>Students</h2>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to students_path do %>
      <div class="custom-well">
        <div class="dashboard-card">
          <i class="fa fa-folder-open fa-5x"></i>
          <h2>Documents</h2>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to calendar_path do %>
      <div class="custom-well">
        <div class="dashboard-card">
          <i class="fa fa-calendar fa-5x"></i>
          <h2>Calendar</h2>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to students_path do %>
      <div class="custom-well">
        <div class="dashboard-card">
          <i class="fa fa-comments fa-5x"></i>
          <h2>Community</h2></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>

